body{
    background-color: #fff2cb;
    text-align: center;
    margin: 0px;
}

h1 {
    font-size: 40px;
    font-family: nunito;
    font-weight: semibold;
    color: #07733e;
}

h2{
    font-size: 30px;
    font-family: nunito;
    font-weight: bolder;
    text-align: left;
    margin-left: 0px;
}

h3{
    font-size: 20px;
    font-family: nunito;
    font-weight: medium;
    margin: 20px 0px 0px 20px;

}

p {
    font-size: 17px;
    font-family: forma;
    font-weight: bold;
    text-align: left;
}

li {
    font-family: nunito;
    font-weight: medium;
}

a {
    text-decoration: none;
    color: black;
}

* {
    scroll-behavior: smooth;
}

.parhomepage {
    color: #b6622e;
    font-size: 14px;
    margin: 40px;
}

/* --- fonts ---*/
@font-face {
    font-family:nunito;
    src: url(fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family:nunito;
    src: url(fonts/Nunito/static/Nunito-SemiBold.ttf);
    font-weight: semibold;
}

@font-face {
    font-family:nunito;
    src: url(fonts/Nunito/static/Nunito-Medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family:nunito;
    src: url(fonts/Nunito/static/Nunito-ExtraBold.ttf);
    font-weight:bolder;
}

@font-face {
    font-family: forma;
    src: url(fonts/.30366.otf);
    font-weight: bold;
}

@font-face {
    font-family: Forma DJR Micro;
    src: url(fonts/forma-djr-micro/static/FormaDJRMicro-Bold.eot);
    font-weight: bold;
} 


/* --- header --- */

header img {
    max-width: 50px;
}

header{
    background-color: white;
    width: 335px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    border-radius: 25px;
    margin: 10px;
} 

header {
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.03);
}

header > div {
    flex-direction: row;
    display: flex;
}

    /* zorgt voor positie van nav items naast logo*/
div > nav {
    flex: auto;
    display: flex;
    align-items: center;
}

header div ul { 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex: auto; /* Zorgt voor opnemen van ruimte in de ul door li */
    list-style: none;
    padding: 10px;
    margin: 0px;
    font-weight: bold;
}


/* --- footer --- */

footer > ul {
    text-align: left;
    font-family: forma;
}

footer li {
    margin: 10px;
}

footer > p {
    margin: 20px;
    font-size: 10px;
}

footer h2 {
    color: #b6622e;
    margin-left: 20px;
}

footer{
    margin-bottom: 80px;
}



/* --- homepage ---*/

#ilhome {
    max-width: 250px;
}

#arrowdownicon {
    max-width: 30px;
    margin-bottom: 28px;
}

/* linkcards */

section {
    background-color: #07733e;
    max-width: 375px;
    padding: 5px;
}

.linkcard1, .linkcard2, .linkcard3 {
    border-radius: 25px;
    background-color: #fff2cb ;
    margin: 30px 20px;
    padding: 5px;
    display: flex;
    align-items: center;
}

#linkcards img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.linkcard3 > img {
    width: 80px;
    height: auto;
    margin-right: 20px;
    border-radius: 0px;
}

 div > p,
 div > h2 {
    margin: 20px;
}

.linkcard1 > div > p, 
.linkcard2 > div > p,
.linkcard3 > div > p {
    margin-top: 0px;
}

.linkcard2 {
    background-color: #b6622e;
    color: white;
}

#logolinkcard {
    border-radius: 0px;
  }

/* --- concept page ---> */

.stepcards > section{
    display: flex;
    flex-direction: row;
    background-color: #fff2cb;
}

.stepcards > section > img {
    max-width: 130px;
    align-items: center;
    display: flex;  
}

.stepcards div {
    width: 50%;
}

.stepcards p {
    text-align: center;
}

.stepscard3 > img,
.stepscard4 > img{
    max-height: 120px;
}

.stepscard2 > img,
.stepscard4 > img {
    margin-left: 50px;
}

.stepscard2 > div > p {
    margin-right: 10px;
}

.icon {
    width: 60px;
    align-items: center;
}

/* --- infographic page --- */
.infographictop {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}



.infographictopright,
.infographictopleft {
    width: 150px;
    height: 195px;
    border-radius: 25px;
    background-color: #fff2cb;
}

.infographictop img {
    width: 60px;
    height: 63px;
}

.countbig {
    font-size: 50px;
    margin: 0px;
    text-align: center;
    color: #07733e;
} 

.infographictopleft > p,
.infographictopright > p {
    margin: 0 0 17px 0;
    text-align: center;
}

.invertbody {
    background-color: #07733e;
}

.invert {
    color: #fff2cb;
}

.brownwhitecard{
    background-color: #b6622e;
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
    color: #fff2cb;
    text-align: left;
}

.houtsoort > h2 {
    color: #fff2cb;
    margin-left: 20px;
}

.houtinfo {
    display: flex;
    flex-direction: row;
}

.houtinfo > img {
    width: 75px;
    margin: 10px;
}

/* --- connectie page --- */

.aboutme {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #fff2cb;
}

.aboutme img {
    width: 100px;
}

.imgsection > img {
    width: 350px;
    border-radius: 25px;
}

.brownwhitecard > p,
.brownwhitecard > h2{
    padding: 10px;
}

.projects > div{
    display: flex;
    flex-direction: row;
    background-color: #b6622e;
    border-radius: 25px;
    margin: 15px;
    color: #fff2cb;
}

.projects > div > img {
    max-width: 150px;
    margin: 10px;
}

.projects > h2 {
    margin-left: 20px;
    color: #fff2cb;
}
