/* ---- ALGEMEEN ---- */
    /* Geeft pagina achtergrond, font, kleur en zorgt voor afbeelding opvulling pagina met margin*/
body {
    background-color: rgb(23, 23, 23);
    color:#dee0e7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: Poppins;
    margin:0px;
}

*{ /* voor alle animaties */
    transition: 300ms;
}

@font-face { /* font regular */
    font-family: Poppins;
    src: url(Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face { /* font bold */
    font-family: Poppins;
    src: url(Fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}

a {
    text-decoration: none;
    color:#dee0e7;
}

main {
    margin-left: 10px
}

main a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px;
    background-color: rgb(255,255,0);
    border-radius: 25px;
    border-style: none;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    max-width: max-content;
    font-weight: 600;
}

main a:hover {
    background-color: rgb(6, 6, 6);
    color: rgb(255,255,0);
    border: 1px solid rgb(255,255,0);
    transform: scale(1.05);
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
    color: rgb(255,255,0);
}

li, ol{
    list-style-type: none;
}

    /* -- imgs -- */

.imgicon { /* poster event agenda */
    width: 10%;
    margin-left: 10px;
    border-radius: 25px;
}

img { /* banner img */
    width: 100%;
    height:auto;
 }

#ade-logo-cube { /* index ADE logo wat doen wij?*/
    width: 150px;
    margin-right: 15px;
}

/* ----- header ----- */
    /* margin zorgt voor afstand links h1. flex-direction en display voor plaatsing naast elkaar. */
header > div {
    flex-direction: row;
    display: flex;
}

    /* zorgt voor positie van nav items naast logo*/
div > nav {
    flex: auto;
    display: flex;
    align-items: center;
}

header div ul { 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex: auto; /* Zorgt voor opnemen van ruimte in de ul door li */
    list-style: none;
    padding: 10px;
    margin: 0px;
    font-weight: bold;
}

header div ul li:hover,
header div h1:hover{
    transform: scale(1.1);
}

header div a:hover {
    color: rgb(255,255,0)
}

    /* plaatsing titel op banner */
.titel {
    position: absolute ;
    top: 15rem;
    font-size: 8vw;
    font-weight: 600;
    color:white;
    margin: 10%;
}

.titel:hover {
    color: rgb(255,255,0);
}

.logo { /* grootte en ruimte van logo nav bar */
    width: 5em;
    height: auto;
    margin: 10px;
}

/* ----- footer ----- */

footer{
    margin-top: 15px;
}

footer > nav > .nav-ul ul a:hover {
    color: rgb(255,255,0);
}

.nav-ul {
    width: 15%;
}

.nav-ul:nth-child(2){ /* centreren logo */
    display: flex;
    justify-content: center;
}

.nav-ul > h2 {
    color: rgb(255,255,0);
}

footer ul { /* alignment met h2 */
    padding: 0;
    margin-top: 0;
}

footer > nav { /* alignment nav footer */ 
    display: flex; /* standaard row */
    align-items: flex-start; /* aligbment top */
    justify-content: space-around; 
}

footer p { /* copyright positioning */
    margin-bottom: 10px;
    text-align: center;
}

.logo-footer{
    width: 8em;
    align-self: center;
}

/* ------ Index onderdeel------- */

/* cards */
.cards > a { /* opmaak per card en positioning */
    border-radius: 25px;
    padding: 10px;
    margin: 40px 10px;
    width: 25%;
    height: auto;
    align-items: center;
    background-color:black;
    color: #dee0e7;
    font-weight: 100;
    text-decoration: none;
    flex-direction: column;
    display: flex;
}

main > section h2 { /* h2 cards */
    color: rgb(255,255,0)
}

.cards { /* positioning section cards */
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

main > section:nth-child(1) > a > h2 { /* h2 align linker kant */
    align-self: flex-start
}
main > section:nth-child(1) > a > svg { /* icon's  afmeting*/
    width: 100px;
    height: 100px;
    margin-top: auto;
    margin: 10px;
}

main > section:nth-child(1) > a .fil1 { /* color icon's card */
    fill:rgb(41, 41, 41);
}

main > section:nth-child(1) > a:hover .fil1 { /* icon hover kleur */
    fill:rgb(255,255,0);
}


main > section:nth-child(1) > a:hover { /* scaling hover cards*/
    transform: scale(1.05);
}

/* Wat doen wij? section*/
main > .wdw  {
    background-color:rgb(6, 6, 6);
    color: #dee0e7;
    border-radius: 25px;
    padding: 7px;
    margin: 10px;
}

.wdw > div > p { /* index: wat doen wij p margin's */
    margin: 20px;
}

.wdw > div > h2{ /* index: wat doen wij h2 margin's */
    margin: 20px 0px 0px 20px;
}

main > section:nth-child(2) { /* positioning div(h2+p) naast img */
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* ---- agenda main ---- */
.overzicht {  /* alignment events column */
    display: flex;
    flex-direction: column;
}

.festivalblock{ /* alignment per event row */
    display: flex;
    flex-direction: row;
    align-items: center; /* center vertically */
    width: 100%;
    height: fit-content;
}

.festivalblock > div:nth-child(2){ /* aanspreken p (beschrijving) + a(eventweb) */
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-start; 
    margin-right: 30px;
    width: 80vw;
    color: white;
}

.festivalblock ul, ol { /* details ul/ol styling */
    color: rgb(188, 188, 188);
    width: max-content;
    list-style-type: none;
    padding-left: 0px; /* alignment h4 met ul */
    margin-right: 10px;
    margin-top: 0px ;
}

.info-event { /* blok details positioning */
    display: flex;
    align-items: flex-start; /* top aligned */
}

hr { /* lijn tussen events */
    border: 1px solid rgb(94, 94, 94);
    width: 90%;
}


/* ---- Collection page ---- */

.foto-collectie { /* styling per foto blok */
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    margin: 10px 10px 0px 0px;
    justify-content: flex-end;
}  

.photodescriptionleft, /* marge en breedte tekst per img */
.photodescriptionright{
    margin-left: 15px;
    width: 50%;
}

.photodescriptionright{
    display: flex;
    justify-content: center; /* center y-as */
    align-items: center; /* center x-as */
    font-size:x-large;
    flex-direction: column; /* h2 & p colum */
}

.photodescriptionright > p{
    margin: 0px;
}

.foto-collectie > h2{
    margin: 20px;
}

.photo {
    width: 50%;
    border-radius: 25px;
}

video {
    width: 100%;
}
/* ----- bronvermelding page ----- */

.bronvermelding > ul > li > a{
    color: #dee0e7;
    background: none;
    transform: scale(1.0);
    transition: 0s;
    border: none;

}
.bronvermelding > ul > li > a:hover{
    color: rgb(255,255,0);
}

.bronvermelding ul{
    margin:0px;
}