body{
    background-color: #fff2cb;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 40px;
    font-family: nunito;
    color: #07733e;
}

h2{
    font-size: 30px;
    font-family: nunito;
    font-weight: bolder;
    text-align: left;
    margin: 10px 0 0 20px;
    color: #07733e;
}

.h2white {
    color: #fff2cb;
}

h3{
    font-size: 20px;
    font-family: nunito;
    margin: 10px 0 0 20px;
    text-align: left;
}

p {
    font-size: 17px;
    font-family: outfit;
    font-weight: 500;
    text-align: left;
    margin: 15px 0 15px 20px;
}

li {
    font-family: nunito;
}

a {
    text-decoration: none;
    color: #07733e;
}

* {
    scroll-behavior: smooth;
}

.parhomepage {
    color: #b6622e;
    font-size: 14px;
    margin: 40px;
}

/* --- fonts ---*/
@font-face {
    font-family:nunito;
    src: url(fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family:nunito;
    src: url(fonts/Nunito/static/Nunito-SemiBold.ttf);
    font-weight: semibold;
}

@font-face {
    font-family:nunito;
    src: url(fonts/Nunito/static/Nunito-Medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family:nunito;
    src: url(fonts/Nunito/static/Nunito-ExtraBold.ttf);
    font-weight:bolder;
}

@font-face {
    font-family:Outfit ;
    src: url(fonts/Outfit-VariableFont_wght.ttf);
    font-weight: light;
}


/* --- header --- */

header img {
    max-width: 50px;
}

header {
    width: 335px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    margin: 10px;
} 

header {
    background: #fff2cb;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.03);
}

header > div {
    flex-direction: row;
    display: flex;
}

    /* zorgt voor positie van nav items naast logo*/
div > nav {
    flex: auto;
    display: flex;
    align-items: center;
}

header div ul { 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex: auto; /* Zorgt voor opnemen van ruimte in de ul door li */
    list-style: none;
    padding: 10px;
    margin: 0;
    font-weight: bold;
}


/* --- footer --- */

footer > ul {
    text-align: left;
    font-family: forma;
}

footer li {
    margin: 10px;
}

footer > p {
    margin: 20px;
    font-size: 10px;
}

footer h2 {
    color: #b6622e;
}

footer{
    margin-bottom: 80px;
}

.invert > h2 {
    color: #fff2cb;
}

/* --- homepage ---*/

#ilhome {
    max-width: 250px;
}

#arrowdownicon {
    max-width: 30px;
    margin-bottom: 28px;
}

        /* linkcards */

section {
    background-color: #07733e;
    max-width: 375px;
    padding: 5px;
}

.linkcard1, .linkcard2, .linkcard3 {
    border-radius: 25px;
    background-color: #fff2cb ;
    margin: 30px 20px;
    padding: 5px;
    display: flex;
    align-items: center;
}

#linkcards img {
    width: 80px;
    height: 80px;
    margin: 0 20px;
}       

#linkcards a {
    color: black;
}

.linkcard2 {
    background-color: #b6622e;
    color: #fff2cb;
}

#logolinkcard {
    border-radius: 0;
  }

/* --- concept page ---> */

.stepcards > section{
    display: flex;
    flex-direction: row;
    background-color: #fff2cb;
}

.stepcards > section > img {
    max-width: 130px;
    align-items: center;
    display: flex;  
}

.stepcards div {
    width: 50%;
}

.stepcards p {
    text-align: center;
}

.stepscard3 > img,
.stepscard4 > img{
    max-height: 120px;
}

.stepscard2 > img,
.stepscard4 > img {
    margin-left: 50px;
}

.stepscard2 > div > p {
    margin-right: 10px;
}

.stepscard4 > div{
    display: flex;
    flex-direction: row;
    width: 375px;
}

.stepscard4 > div > img,
.stepscard4 > div > p {
    width: 150px;
    align-self: center;
}

.icon {
    width: 80px;
    height: 60px;
}

.backgroundinfo {
    color: #fff2cb;
    margin: 0;
}

/* --- infographic page --- */
.infographictop {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

.infographictop > section {
    width: 150px;
    height: 185px;
    border-radius: 25px;
    background-color: #fff2cb;
}

.infographictop img {
    width: 60px;
    height: 63px;
}

.countbig {
    font-size: 50px;
    color: #07733e;
    font-family: nunito;
} 

.infographictop p {
    margin: 0;
    text-align: center;
}

.invertbody {
    background-color: #07733e;
}

.invert {
    color: #fff2cb;
}

.brownwhitecard{
    background-color: #b6622e;
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
    color: #fff2cb;
}

.houtinfo {
    display: flex;
    flex-direction: row;
}

.houtinfo > img {
    width: 75px;
    margin: 10px;
}

/* --- connectie page --- */

.aboutme {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #fff2cb;
}

.aboutme img {
    width: 100px;
}

.projects > div{
    display: flex;
    flex-direction: row;
    background-color: #b6622e;
    border-radius: 25px;
    margin: 15px;
    color: #fff2cb;
}

.projects > div > img {
    max-width: 190px;
    border-radius: 25px;
}